*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;

}

body{
    font-family: sans-serif;
    background-color: #264653;
}

i{
    cursor: pointer;
}

a{text-decoration: none;
color: white;
}
/**
*! Navbar settings
**/
.navbar{
    background-color: #2a9d8f;
    color: white;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    font-family: Roboto;
    font-weight: bold 800;
    }

.cart{
    background-color: #fff;
    color: #370617;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
}
.cartamount{
    font-size: 16px;
    background: red;
    color: white;
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;
    font-weight: 800;
}
/**
*! shop here
**/
.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap: 30px;
    justify-content: center;
    
    
}

@media(max-width:1000px){
    .shop{
        grid-template-columns: repeat(2,223px);
    }
}
@media(max-width:500px){
    .shop{
        grid-template-columns: repeat(1,223px);
    }
}
.item{
    border: 2px solid #370617;
    border-radius: 4px;
    background-color: #e76f51;

}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    background-color: #3c6e71;
}
.price-quantity{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 20px;
}
.bi-dash-lg{
    color:red;
}
.bi-plus-lg{
    color: green;
}
i{
    cursor: pointer;
}

/**
*! Cart styles
**/
.text-center{
    text-align: center;
    margin-bottom: 20px;
}

.cart-item{
    color: white;
}
.bi-x-lg{
    color: red;
    font-weight: bold;
}
/**
*! Style for shopping cart
**/
.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1,520px);
    justify-content: center;
    gap: 15px;

}
/**
*! Cart item
**/
.cart-item{
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    
    
}
.title-price-x{
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.title-price{
    align-items: center;
    display: flex;
    gap: 10px;
}
.cart-item-price{
    background-color: #2a9d8f ;
    color: black;
    border-radius: 4px;
    padding: 3px 6px;

}

.fa-thin .fa-meteor{
    font-weight: 700;
    z-index: 4000;
    color: white;
}
.empty,.totalbill{
    color: white;
}
.Homebtn,.checkout, .removeAll{
    background-color: #231942;
    color: rgb(255, 255, 255);
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
    font-weight: 800;

}
.checkout{background: green;}
.removeAll{background-color: red;}






